@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default, black --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));